{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">
	<div class="col-sm-12 col-md-8">
    	<div class="card mb-4">
    		<div class="card-header bg-gradient font-weight-bold">
    			RN: {{review._id}}
  			</div>
	      	<div class="card-body border-bottom">
	      		<blockquote class="blockquote">
					<p class="mb-0">{{review.reviewContent}}</p>
					<footer class="blockquote-footer">Submitted by <cite title="Source Title">{{review.studentRef.studentName}}</cite></footer>
				</blockquote>
	    	</div> 	
		</div>

		<div class="card-header bg-gradient font-weight-bold" >
    			Comments
  		</div>
  		<div class="card mb-4"  style="max-height: 50%; min-height=10%; overflow-y: auto">
			<div class="card-body">
				{{#if comments}}
					{{#each comments}}	
					<p class="mb-0" align ="right">{{this.commentContent}}</p>
					<p align="right">-<cite title="Source Title">{{this.studentRef.studentName}}</cite></p>
			    	{{/each}}

			    	<!-- testers since there are not enough documents in 'review' collections
			    	{{#each comments}}	
						<p class="mb-0" align ="right">{{this.commentContent}}</p>
						<p align="right">-<cite title="Source Title">{{this.studentRef.studentName}}</cite></p>
			    	{{/each}}
	
			    	{{#each comments}}	
						<p class="mb-0" align ="right">{{this.commentContent}}</p>
						<p align="right">-<cite title="Source Title">{{this.studentRef.studentName}}</cite></p>
			    	{{/each}}

			    	{{#each comments}}	
						<p class="mb-0" align ="right">{{this.commentContent}}</p>
						<p align="right">-<cite title="Source Title">{{this.studentRef.studentName}}</cite></p>
			    	{{/each}}
			    	-->
				{{else}}
					<p></p>
					<p align="center"><cite title="Source Title">No comments yet</cite></p>
				{{/if}}
			</div>	  
		</div>
    </div>

    <div class="col-sm-12 col-md-4">
    	<div class="card mb-4">
    		<div class="card-header bg-gradient font-weight-bold">
    			Post a Comment
  			</div>
	      	<div class="card-body">
		      	<form>
		     	 	<p id="reviewRef" name="reviewRef" hidden>{{review._id}}</p>
		      		<p id="studentRef" name="studentRef" hidden>{{review.studentRef._id}}</p>
		        	<div class="form-group row">
			            <label for="quickProf" class="col-sm-4 col-form-label">Professor</label>
			            <select class="custom-select col-sm-7" disabled id="profRef">
			              <option selected>{{review.profRef.profName}}</option>
			        	</select>
			        </div>
			        <div class="form-group row">
			            <label for="quickProf" class="col-sm-4 col-form-label">RN</label>
			            <select class="custom-select col-sm-7" disabled id="quickProf">
			              <option selected>{{review._id}}</option>
			        	</select>
			        </div>
		          	<div class="form-group row">
			            <label for="quickRev" class="col-sm-4 col-form-label">Comment</label>
			            <textarea class="form-control col-sm-7" id="commentContent" rows="3"></textarea>
			        </div>
			        <div class="text-center">
			            <button type="submit" id = "addComment" name ="addComment" class="btn btn-primary mt-0 mb-2">Post Comment</button>
			        </div>
		    	</form>
	    	</div>
		</div>
	</div>
</div>